body{
    background-color: #282B38;
    font-family: var(--font-fam);
    margin: 0 50px;
}
main{
    
}
a{
    text-decoration: none;
}
.button{
    font-weight: var(--font-wt-600);
    background-color: var(--bg-btn);
    border-radius: var(--border-radius-btn);
}

/* first-screen */
.fsc__slider .slick-slide {
    padding: 163px 0 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.fsc__slider__item{
   max-width: 463px;
   margin-left: 350px;
}
.fsc__slider__item__title{
    color: var(--text-color-wt);
    font-size: var(--font-size-fsc-title);
    font-weight: var(--font-wt-700);
    margin-bottom: 8px;
}
.fsc__slider__item__description{
    max-width: 350px;
    color: var(--text-color-wt);
    font-size: var(--font-size-fsc-desc);
    font-weight: var(--font-wt-400);
    margin-bottom: 37px;
}
.fsc__slider__item .button{
    display: inline-flex;
    align-items: center;
    padding: 23px 20px 22px 33px;
}

.fsc__slider__item .button img{
    margin-left: 50px;
}
.fsc__container{
    position: relative;
}
.fsc__container-arrow{
    position: absolute;
    padding: 0 160px;
    width: 100%;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.slick-arrow {
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='42' viewBox='0 0 24 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.40237 41.2538C3.1171 41.5391 2.76051 41.6817 2.36827 41.6817C1.97602 41.6817 1.61943 41.5391 1.33416 41.2538C0.763614 40.6833 0.763614 39.7561 1.33416 39.1856L19.5202 20.9996L1.33416 2.81351C0.763614 2.24296 0.763614 1.31583 1.33416 0.74529C1.9047 0.174747 2.83183 0.174747 3.40237 0.74529L22.6225 19.9654C23.1931 20.536 23.1931 21.4631 22.6225 22.0337L3.40237 41.2538Z' fill='white'/%3E%3C/svg%3E");    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 24px;
    height: 42px;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: 1s;
}
.slick-prev{
    transform: rotate(180deg);
}
.fsc__slider{
    position: relative;
}
.fsc__slider .slick-dots{
    display: flex;
}
.fsc__slider .slick-dots li button{
    font-size: 0;
    padding: 0;
    list-style: 0;
    width: 8px;
    height: 8px;
    opacity: 0.9;
    border: 2px solid #FFFFFF;
    border-radius: 90px;
    background-color: transparent;
    margin: 0 13px;
}
.fsc__slider .slick-dots .slick-active button{
    background-color: #fff;
}
.fsc__slider .slick-dots{
    position: absolute;
    bottom: 98px;
    right: 50%;
    transform: translate(50%, 0);
}

